.institute-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.img-div{
  
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.institute-image {
width:560px;
 height: 700px;
  /* min-width: 280px; */
  display: inline;
  
  border-radius: 3rem;
  /* justify-content: center; */
  align-items: center;
}


.institute-text {
  
  width:670px;
  padding:0 2rem;
  /* max-width: 40rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
}

.institute-heading {
  background-color: rgb(5, 124, 139);
  border-radius: 4rem;
  padding: 0.5rem 0.5rem;
  color: white;
  margin: 0;
}

.institute-text p {
  color: grey;
  font-size: 20px;
  font-weight: 500;
}

.institute-text span {
  font-weight: bold;
}


.contact-button{
  background-color: rgb(5, 124, 139);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: white;
  margin:0 12rem;
  font-size: 20px;
  margin-top: 1rem;
  cursor: pointer;
  }

/* Media Query for smaller devices */
@media (max-width: 768px) {
  .institute-container {
    display: flex;
    padding: 1rem;
    flex-direction: column-reverse;
    
    
  }
 
  .img-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.institute-image{
    width:380px;
    height:500px;
    padding:0 0.5rem;
}
.institute-text{
 width: 400px;
 font-size: 10px;
  padding:0;
}
  .institute-heading {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
 ;
  }

}

