.intro-container {
  background-color: #057C8B;
  display: flex;
 
  margin: 2rem 0;
  padding: 2rem 1rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.intro-image-container {
  flex: 1;
  min-width: 300px;
  padding: 0 1rem;
}

.intro-image {
  width: 100%;
  border-radius: 3rem;
  object-fit: cover;
}

.intro-content {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.intro-title-box {
  background-color: white;
  color: #057C8B;
  border-radius: 4rem;
  padding: 1rem 2rem;
  text-align: center;
}

.intro-title {
  font-size: 2rem;
  margin: 0;
}

.intro-text {
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .intro-container {
    width:400px;
   height: 480px;
    flex-direction: column;
    padding: 1rem;
    margin-top: 18rem;
  }

  .intro-title {
    font-size: 1.5rem;
  }

  .intro-text {
    font-size: 1rem;
  }
}
