
*{
  /* background-color: bisque; */


  font-family: 'Inter', 'Inter Placeholder', sans-serif;


}
#root {
width: 100%;

 
  /* text-align: center; */
}







.secondhalf {
  position: relative;
  /* width: 40%; */

 
}

.backimg {
  width: 450px;
   border: 0.2rem white solid;
  border-radius: 2rem;
  transform: rotate(-5deg); 
  position: relative;
  z-index: 1;
}

.frontimg {
  position: absolute;
  height:480px;
  top: 20px;  
  left: 60px; 
  right:10px; 
  width: 450px;
  border: 0.5rem white solid;
  border-radius: 2rem;
  z-index: 2;
}


